.*
backups/
bendspacks/
betweenlands_gallery/
config.zip
config/brandon3055/contributors.json
config/cd4017be/compiled.dat
config/jei/bookmarks.ini
config/multimob/modInformation/
config/netherex/biomes/
config/netherex/trades/
config/Probe.cfg
config/splash.properties
crafttweaker.log
crash-reports/
dropt.log
fonts/
journeymap/
llibrary/
logs/
minecraftinstance.json
mods/
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
resourcepacks/
saves/
screenshots/
shaderpacks/
TombManyGraves/
usercache.json
usernamecache.json